
/*comment */
h3
{
    color:red;
}
.button
{
    border:2px solid gray;
    padding:8px;
    background:none;
    font-size:12px;
    color:black;
}
.button:hover
{
    border:2px solid #bebebe;
}
.perarticle
{
    width:100%;
    border:1px solid #ccc;
    margin-bottom:10px;
    /*box-shadow: 0px 0px 5px #61C5FA;*/
    border-radius:5px;
    padding:5px;
    height:50px;
}
.perarticle:hover
{
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}
#date
{
    font-size:12px;
    font-style:italic;
    color:gray;
}
#col1
{
    position:absolute;
    margin-left:30px;
}
#col2
{
    margin-top:10px;
    float:right;
}
